transformers
transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
nltk
tqdm
 pyyaml
torch
notebook
boto3
mypy-boto3-s3
python-box
ensure
fastapi
uvicorn
jinja2
pandas
numpy
seaborn
matplotlib